body
{
    color : white;
    background: blue;

}

.heading
{
    width : 80%;
    font-size: 22px;
}

.name_of_objects
{
    color : greenyellow;
    font-size: 18px;
}

#camera , #result
{
    border: 2px solid black;
    width : 350px;
    height : 300px;
}

#result_object_name , #result_object_accuracy
{
    color : red; 
}